:root {
    --color-bg: rgb(255, 254, 252);
    --color-black: black;
    --color-grey: grey;
    --color-accent: rgb(255, 191, 0);
    --color-hover: gold;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-black);
    overflow: hidden; /* Remove scrollbar */
    user-select: none;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media (max-width: 1024px) {
    header {
        justify-content: space-between;
    }
}

/*
.menu {
    position: relative;
}

.menu span {
    border: 1px solid var(--color-black);
    padding: 0.5rem;
    cursor: pointer;
    background-color: white;
    color: var(--color-black);
}

.menu .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--color-black);
    top: 100%;
    left: 0;
    z-index: 1000;
}

.menu:hover .dropdown {
    display: block;
}

.menu .dropdown a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color-black);
}*/

header * {
    cursor: pointer;
    padding: 0; /* Removes extra padding */
    display: inline-flex; /* Ensures content is inline and flexible */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
}

#sort-button {
    background: none;
    border: none;
}

#github-icon img, #sort-button img {
    width: 24px;
    height: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden; /* Remove scrollbar */
}

#slogan {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, transparent, var(--color-bg) 40%, var(--color-bg) 60%, transparent);
    padding: 3rem 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    user-select: none; /* Prevent text selection */
    gap: 0 !important;
    pointer-events: none;
}

#highlight {
    padding: 0 10px;
}

.word-list-container {
    overflow-y: auto;
    width: 100%;
}

.word-list div {
    padding: 0.5rem;
    color: var(--color-grey);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.word-list-container::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.word-list-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}