body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu {
    position: relative;
}

.menu span {
    border: 1px solid var(--color-black);
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--color-bg);
    color: black;
}

.menu .dropdown {
    display: none;
    position: absolute;
    background-color: var(--color-bg);
    border: 1px solid var(--color-black);
    top: 100%;
    left: 0;
    z-index: 1000;
}

.menu:hover .dropdown {
    display: block;
}

.menu .dropdown a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color-black);
}

.github-icon img {
    width: 24px;
    height: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden; /* Remove scrollbar */
}

.slogan {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.word-list-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.word-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.word-list div {
    padding: 0.5rem;
    text-align: center;
    color: grey;
    user-select: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

footer p, footer a {
    margin: 0;
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--color-black);
}

footer a:hover {
    color: var(--color-hover);
}

:root {
    --color-bg: rgb(214, 214, 214);
    --color-black: black;
    --color-grey: grey;
    --color-accent: rgb(255, 191, 0);
    --color-hover: gold;
}